@import '../common';

.navbar {
  height: 6.5rem;
  background-color: $primaryColor;

  padding: 1rem;

  .nav-links,
  .logo {
    display: inline-block;
  }

  .logo {
    color: $lightTextColor;
    margin-right: 50%;
  }

  .nav-links span {
    color: $lightTextColor;
    font-size: 1.6rem;
  }



}

.nav-div-link
{
  font-size: larger;
  font-weight: bold;
  a { color: gray; }
  border-left: thin solid gray;
}

.nav-bar
{
  background-image: linear-gradient(#c6c6c6, #ffffff);
}



